<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages that Data Scientists.
* List commonly used libraries used by Data Scientists.
* Insert tables
* Examples of evaluating arithmetic expressions in Python
* Operations with integers

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|-----|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

1. Addition: 2 + 3
2. Subtraction: 2 - 3
3. Multiplication: 2 * 3
4. Division: 2 / 3
5. Exponentiation: 2 ** 3
6. Modulo: 2 % 3

In [1]:
print('Addition: ', 2 + 3,
      '\nSubtraction: ', 2 - 3,
      '\nMultiplication: ', 2 * 3,
      '\nDivision: ', 2 / 3,
      '\nExponentiation: ', 2 ** 3,
      '\nModulo: ', 2 * 3)

Addition:  5
Subtraction:  -1
Multiplication:  6
Division:  0.6666666666666666
Exponentiation:  8
Modulo:  6

In [2]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
print(200/60)

3.3333333333333335

## Author
Alejandro Heres Gozalbes